@tailwind base;
@tailwind components;
@tailwind utilities;

/* global tweaks */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-800 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* small UI helper */
.card {
  @apply bg-white rounded-2xl p-4 shadow-sm;
}
